<div class="user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h1><%= @user.name %></h1>
      <p>【 <%= @user.email %> 】</p>
      
      <% if @user.id == 1 || @user.id == 3 %>

      <p class="info">
        生年月日 ：1989年9月12日<br>
        出身地　 ：大阪府和泉市<br>
        年齢　　 ：28歳
　　<br>血液型　 ：Ｏ型 
　　<br>特技　　 ：好き嫌いなく何でも食べれる
      </p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
        <%= link_to("削除", "/users/#{@user.id}/destroy", method: :destroy, data: {confirm: "本当に削除しますか？"}) %>
      <% end %>
    </div>
    
    <div class="chara">
      <div class="faq-list-item">
      <span>＋</span>
      <h1>〜 経歴 〜</h1>
      <div class="answer">
       <table border="1px" cellpadding="15px" align="center">
        <tr bgcolor="#5cc3e6">
          <th>西暦</th>
          <th>事例</th>
        </tr>
        <tr>
          <td>　　2012年3月　　</td>
          <td><a href="http://www.andrew.ac.jp/" target="_blank">
            桃山学院大学</a> 卒業</td>
        </tr>
        <tr>
          <td>2012年4月</td>
          <td>　　<a href="http://www.hmi-hotel.co.jp/" target="_blank">
            ＨＭＩ</a>(ホテル業界) 入社　　</td>
        </tr>
        <tr>
          <td>2014年4月</td>
          <td><a href="http://konno-s.co.jp/" target="_blank">
            今野製作所</a> 入社</td>
        </tr>
        <tr>
          <td>2016年12月</td>
          <td>IT業界に入る</td>
        </tr>
      </table>
      </div>
      </div>
      
      <h1>〜 趣味 〜</h1>
      <div class="faq-list-item">
      <span>＋</span>
      <h2>🏍 バイクに乗ること</h2>
      <div class="answer ">
      <p>１年かけて日本縦断に成功！
      <br>愛車はホンダのMAGNA 250</p>
      <img src="/bike1.jpg">
      <img src="/bike2.jpg">
      <div class="map"><img src="/map.jpg"></div>
      </div>
      </div>
      
      <div class="faq-list-item">
      <span>＋</span>
      <h2>🌏 海外旅行　　　　</h2>
      <div class="answer">
      <p>東南アジアやカリフォルニアにバックパックを経験！
      <br>ここで基本的に何でも食べれるようになった🐛</p>
      <img src="/trip1.jpg">
      <img src="/trip2.jpg">
      </div>
      </div>
      
      <div class="faq-list-item">
      <span>＋</span>
      <h2>☕️ 珈琲を飲むこと　</h2>
      <div class="answer">
      <p>趣味でコーヒーインストラクターの資格を取得！
      <br>お気に入りは深煎りのマンデリン</p>
      <div class="coffee">
      <img src="/coffee.jpg">
      </div>
      </div>
      </div>
      <br>
      <a href=""　color="blue">＜ページのTOPに戻る＞</a>
    　<br><br>
    </div>
    
    <% else %>
      <div class="outers">
        <% if @user.id == @current_user.id || @current_user.id == 1 || @current_user.id == 3 %>
          <%= link_to("編集", "/users/#{@user.id}/edit") %>
          <%= link_to("削除", "/users/#{@user.id}/destroy", method: :destroy, data: {confirm: "本当に削除しますか？"}) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

