
<div class="user-show">
  <div class="container">
    <div class="user">
      <!-- <img>タグを用いて、プロフィール画像を表示してください -->
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h1><%= @user.name %></h1>
      <p><%= @user.email %></p>
      
      <p class="info">
        生年月日 ：1989年9月12日<br>
        出身地　 ：大阪府和泉市<br>
        年齢　　 ：28歳
　　<br>血液型　 ：Ｏ型 
　　<br>特技　　 ：好き嫌いなく何でも食べれる
      </p>
      <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <%= link_to("削除", "/users/#{@user.id}/destroy", {method: "post"}) %>
    </div>
    
    <div class="chara">
      <span>経歴</span>
       <table border="1px" cellpadding="15px" align="center">
        <tr bgcolor="#5cc3e6">
          <th>西暦</th>
          <th>事例</th>
        </tr>
        <tr>
          <td>　　2012年3月　　</td>
          <td>桃山学院大学卒業</td>
        </tr>
        <tr>
          <td>2012年4月</td>
          <td>　　ＨＭＩ(ホテル業界) 入社　　</td>
        </tr>
        <tr>
          <td>2014年4月</td>
          <td>丸福珈琲店入社</td>
        </tr>
        <tr>
          <td>2015年4月</td>
          <td>今野製作所入社</td>
        </tr>
      </table>
    </div>
  </div>
</div>

