<div class="about-main">
<!-- 
    <%= @zipcode %>
    <%= @address1 %>
    <%= @address2 %>
    <%= @address3 %>
    <%= @query%><br>
    
    <h3>【 Ajaxを使ってみよう 】</h3>
    <%= form_tag(url_for(:action => 'about_ajax'), :remote => true) do %>
      <%= text_field_tag :title %>
      <%= submit_tag "タイトルを変更する" %>
    <% end %>
-->
  <h1>My Self とは</h1>
  <p>あなた自身の紹介ページを作成することができます。
  <br>みんなとページを共有し合えるので、
  <br>お互いの近況を伝えることが可能です。</p>
  <h2>さぁ、みんなと繋がりましょう！</h2>
  <p class="last">いろんな人が参加しています🎶</p>
  <img class="about-img" src="/users.png">
  <div class="theta">
    <blockquote data-width="640" data-height="500" class="ricoh-theta-spherical-image" >
     Post from RICOH THETA. - <a href="https://theta360.com/s/dEwvJi9IvHRYXlwQVmeUEF57M" target="_blank">
     Spherical Image - RICOH THETA</a></blockquote>
    <script async src="https://theta360.com/widgets.js" charset="utf-8"></script>
  </div>

  <div class="foot">
  <div class="fo-main">
   This Website made by Soichi Kamiya  
  </div>
  <ul class="fo-menus">
   <li>
    <%= link_to("このWEBサイトについて", "/about/web") %>
   </li>
   <li>
    <%= link_to("お問い合わせ", "/contact") %>
   </li>
  </ul>
 </div>
</div>
