<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
  <div class="header-logo">
    <%= link_to("My Self", "/") %>
  </div>
  
  <ul class="header-menus">
     <% if @current_user %>
      <li class="user-name">
      <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
      </li>
    <li>
      <%= link_to("My Selfとは", "/about") %>
    </li>
    <li>
      <%= link_to("User 一覧", "/users/index") %>
    </li>
    <li>
      <%= link_to("投稿一覧", "/posts/index") %>
    </li>
    <li>
      <%= link_to("新規投稿", "/posts/new") %>
    </li>
    <li>
      <%= link_to("Log out", "/logout", {method: :post}) %>
    </li>
    <% else %>
    
    <li>
      <%= link_to("My Selfとは", "/about") %>
    </li>
    <li>
      <%= link_to("Log in", "/login") %>
    </li>
    <li class="signup-show">
      <%= link_to("Sign up", "/signup") %>
    </li>
    <% end %>
  </ul>
 </header>

  <% if flash[:notice] %>
   <div class="flash">
   <%= flash[:notice] %>
   </div>
  <% end %>

<%= yield %>
<script src="script.js"></script>
</body>
</html>